*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gilroy';
}
html,body{
 width: 100%;
 height: 100%;
}
#main{
 width: 100%;
 height: 100%;
 background-color: aquamarine;
 display: flex;
 align-items: center;
 justify-content: center;
}

#panel{
 width: 80%;
 height: 80%;
 background-color: rgb(252, 252, 252);
 border-radius: 5px;
 overflow: hidden;
}
#ptop{
 height: 100px;
 width: 100%;
 background-color: rgb(101, 206, 101);
 padding: 0px 25%;
 display: flex;
 align-items: center;
 color: white;
 justify-content: space-between;
}
.box{
 padding: 10px 20px;
 background-color: #fff;
 border-radius: 5px;
 font-weight: 600;
 font-size: 25px;
}
.elem{
 width: 10%;
 display: flex;
 align-items: center;
 gap: 20px;
 color: #000;
}
#pbtm{
  width: 100%;
  height: calc(100% -100px);
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.bubble{
 width: 40px;
 height: 40px;
 color: white;
 background-color: turquoise;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 500;
}
.bubble:hover {
 background-color: rgb(15, 159, 145);
 cursor: pointer;

}